<html>
<body>
    <h1> Submitted Information</h1>
    Name: <%= info.name%> <br>
    Dojo Location: <%= info.location%> <br>
    Favorite Language: <%= info.language%> <br>
    Comment: <%= info.comment%>
</body>
</html>